:root {
  --clr-primary: #59c6b3;
  --clr-secondary: #232323;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 20px;
}

.about {
  padding: 50px 0;
  background-color: #e8e9eb;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(../../assets/blob-building.svg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  


}

.container {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.section-heading {
  text-transform: uppercase;
  font-size: 50px;
  /* color: var(--clr-secondary); */
  color: white;
  font-family: montserrat;
  
}

.sub-heading {
  max-width: 76ch;
  margin: 25px auto 0;
  line-height: 1.8;
  font-size: 18px;
  /* color: var(--clr-secondary); */
  color: white;
  font-weight: 400;
  font-family: lora;
}

.row-container {
  margin-top: 50px;
}

.row {
  display: flex;
}

.row:not(:last-child) {
  margin-bottom: 100px;
}

.about .row div:first-child {
  margin-right: 50px;
}

.row .img-col {
  flex: 1 1 40%;
}

.row .text-col {
  flex: 1 1 60%;
}

.text-col h3 {
  text-transform: uppercase;
  font-size: 80px;
  font-family: montserrat;
  line-height: 0.9;
  color: var(--clr-primary);
  margin: 0.4em 0;
}

.text-col p {
  font-size: 20px;
  font-family: lora;
  line-height: 1.8;
  /* color: var(--clr-secondary); */
  color: white;
  font-family: lora;
}

.img-col.n-margin {
  margin-top: -10%;
}

@media (max-width: 1200px) {
  .text-col h3 {
    font-size: 100px;
  }

  .section-heading {
    font-size: 60px;
  }

  .row .img-col {
    flex: 1 1 48%;
  }

  .row .text-col {
    flex: 1 1 52%;
  }
}

@media (max-width: 992px) {
  .text-col h3 {
    font-size: 72px;
  }

  .text-col p {
    font-size: 18px;
  }

  .sub-heading {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .row div:first-child {
    margin-right: 0;
  }

  .row .img-col,
  .row .text-col {
    flex: 1;
  }

  .row:last-child .text-col {
    order: 2;
  }

  .row:not(:last-child) {
    margin-bottom: 80px;
  }

  .img-col.n-margin {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .text-col h3 {
    font-size: 40px;
  }

  .section-heading {
    font-size: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
      url(../../assets/blob-building-mob.svg);
  }
}
