:root{
    --mount-meadow: #fea02f;;
    --white-smoke: #f0f0f0;
    --night-rider: #343434;
    --black: #191b17;
    --transition: all 0.5s ease-in-out;
}
 section {
    padding: 6rem 0;
 }

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 2rem 1rem;
}
.display-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: lora;
    padding-bottom: 20px;

}

.button-call {
    margin-top: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/* buttons */

 .btn-login{
    color: #fff;
    font-size: 20px;
    transition: var(--transition);
    background: transparent;
    width: 200px;
    height: auto;
    margin: 0 20px;
    /* display: none; */
}
.btn-login:hover{
    background: var(--mount-meadow);
    border-color: var(--mount-meadow);

}

.btn-signup{
    color: black;
    transition: var(--transition);
    background: white;
    width: 200px;
    height: auto;
    font-size: 20px;
    /* display: none; */
}
.btn-signup:hover{
    background: transparent;
    border-color: white;
    color: white;

}
@media only screen and (max-width: 768px) {
    .display-title {
      font-size: 15px;
    }
    .display-title-h2 {
        font-size: 20px;
        padding-top: 20px;
    }
  }
  
.detail{
    background: var(--white-smoke);
}
.detail-item{
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    margin: 2rem 0;
    padding: 3.5rem 1.5rem;
    border-radius: 4px;
    transition: var(--transition);
}
.detail-item:hover{
    -webkit-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    -moz-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    transform: translateY(-5px);
}
.detail-item span{
    font-size: 2.5rem;
}
.detail-item h2{
    font-size: 1.4rem;
    opacity: 0.8;
    font-weight: 300;
}
.line{
    width: 45px;
    margin: 1.2rem auto;
    background: var(--mount-meadow);
    height: 2.5px;
}
@media only screen and (max-width: 600px) {
  .button-call {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-login {
    margin: 20px 0;
    display: none;
  }
  .btn-signup {
    margin-top: 20px;
    font-size: 10px;
  }
}
@media screen and (min-width: 768px){
    
    .detail .row{
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem; */
        display: flex;
        justify-content: space-between;
    }
    .detail-item{
        margin: 0;
    }
   
    .team-item{
        margin: 0;
    }
       .testimonial-item p{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .contact-right > div:first-child{
        margin-top: 0;
    }
    .detail-item {
        margin: 10px;
    }
}

@media screen and (min-width: 992px){
    
}

@media screen and (min-width: 1200px){
   
}





  @media (max-width: 400px){
    .select {
        position: relative;
        display: flex;
        width: 100%;
        height: 3em;
        line-height: 3;
        background: var(--mount-meadow);
        overflow: hidden;
        border-radius: .25em;
    }
    
    
  }
  @media(max-width:440px){
    .title h2 {
        font-size: 1.1rem;
        color: var(--night-rider);
        font-weight: bold;
        text-align: center;
    }
    .feature-left {
        text-align: center;
        padding: 70px;
    }
  }
  @media (max-width: 550px){
    .show-faq-content {
        height: auto;
        padding: 0.6rem 1.8rem;
    }
    .dropdown h1{
        font-size: 1rem;
    }
    section {
        padding: 1rem 0;
    }
    
  }
 

  .rowh1 h1{
    font-size: 1.5rem;
    text-align: center;
    color:var(--mount-meadow);
  }


 